body {
    background: url(../images/clouds.jpg)  ;
    font-family: 'Metamorphous', cursive;
    
}
.main_heading{
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 2px 2px 8px rgb(199, 158, 22);
    font-size: 2.5em;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.secondary_heading{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    text-shadow: 2px 2px 8px palevioletred;
    font-size: 2em;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.tertiary_heading{
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    text-shadow: 2px 2px 8px palevioletred;
    font-size: 2em;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
.list_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    text-shadow: 2px 2px 8px rgb(7, 48, 161);
    background: -webkit-linear-gradient(#eee, rgb(163, 163, 163));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgb(209, 252, 241);

}
.wish_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
    padding: 0.1em 1em;
    text-shadow: 2px 2px 8px rgb(7, 48, 161);
    background: -webkit-linear-gradient(#eee, rgb(163, 163, 163));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgb(209, 252, 241);
}
.fourth_heading{
    font-family: 'Cinzel Decorative', cursive;
    display: flex;
    text-align: center;
    justify-content: center;
    text-shadow: 2px 2px 8px palevioletred;
    font-size: 2em;
    background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

}
h2{
    margin: .5em;

}
.button_container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    padding: 0.5em 1em;
    border: solid 1px transparent;
    border-radius: 2em 0em 2em 0em;
    font-size: 1.5em;
    font-family: 'Montez', cursive;
    color: white;
    opacity: .8;
    background-color: rgb(199, 158, 22);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(199, 158, 22, 0.5), 0 6px 20px 0 rgba(89, 13, 211, 0.75);
  }
  .button:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
  .button:hover {
    color: rgb(89, 13, 211);
    border-color: currentColor;
    background-color: plum;
  }
  .change-made {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    padding: 0.1em .5em;
    border: solid 1px transparent;
    border-radius: 2em 0em 2em 0em;
    font-size: 1.5em;
    font-family: 'Montez', cursive;
    color: white;
    opacity: .8;
    background-color: rgb(89, 13, 211);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(199, 158, 22, 0.5), 0 6px 20px 0 rgba(89, 13, 211, 0.75);

  }
  .change-made:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
  .change-made:hover {
    color: rgb(89, 13, 211);
    border-color: currentColor;
    background-color:lightgreen;
  }
  .delete-wish {
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    padding: 0.1em .5em;
    border: solid 1px transparent;
    border-radius: 0em 2em 0em 2em;
    font-size: 1.5em;
    font-family: 'Montez', cursive;
    color: white;
    opacity: .8;
    background-color: rgb(89, 13, 211);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(199, 158, 22, 0.5), 0 6px 20px 0 rgba(89, 13, 211, 0.75);

  }
  .delete-wish:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }
  .delete-wish:hover {
    color: rgb(89, 13, 211);
    border-color: currentColor;
    background-color:rgb(199, 158, 22);
  }
  
 
li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
    /* background: blue; */
  }
  
  .label {
    margin-bottom: 5px;
    padding: 1em
  }
  
  /* .create-update-form {
     padding: 5px;
    margin: 5px;
    background: aqua;
  } */
  
  .form-group {
    padding: 1em
  }
  input {
      outline: none;
      background-color: transparent;
      font-family: 'Metamorphous', cursive;
      font-size: 1em;
      padding: .5em;
      border: none;
      border-bottom: 2px solid white;
  }



  /* font-family: 'Metamorphous', cursive;
font-family: 'Montez', cursive;
font-family: 'Cinzel Decorative', cursive; */